/*#board {
	height: 500px;
	width: 500px;

}*/

/*body {
	background-color: yellow;
}*/

div {
	overflow: hidden;
}

#board>div>div {
	background-image: url("../images/grass.jpg");
}

img {
	height: 50px;
	width: 50px;
	position: relative;
}